body {
  background-color: #fff;
  /* common */
}
body #container .show_detail {
  background-color: #adecf7;
  height: 3.12rem;
  padding: 0.19rem 8%;
  position: relative;
}
body #container .show_detail header h3 {
  color: #fff;
  font-size: 0.14rem;
}
body #container .show_detail .show_weather {
  margin: 0.3rem 0;
}
body #container .show_detail .show_weather .main_img {
  margin: 0 auto;
  width: 2rem;
  height: 0.84rem;
}
body #container .show_detail .info {
  width: 84%;
  position: absolute;
  bottom: 0.19rem;
}
body #container .show_detail .info td {
  width: 35%;
  position: relative;
}
body #container .show_detail .info .temperature {
  width: 0.2rem;
  height: 0.4rem;
  background-image: url('images/013.png');
  background-size: 100% 100%;
}
body #container .show_detail .info .humidity {
  width: 0.32rem;
  height: 0.3rem;
  background-image: url('images/014.png');
  background-size: 100% 100%;
}
body #container .show_detail .info .wind {
  width: 0.4rem;
  height: 0.4rem;
  background-image: url('images/015.png');
  background-size: 100% 100%;
}
body #container .show_detail .info span {
  color: #fff;
  font-size: 0.12rem;
  position: absolute;
  bottom: 0;
  margin-left: 0.08rem;
}
body #container .weather_block {
  background-color: #ffd479;
}
body #container .weather_block li {
  position: relative;
  width: 32.6%;
  height: 0.985rem;
  margin-bottom: 3px;
  background-color: #fec363;
  float: left;
}
body #container .weather_block li h3 {
  font-size: 0.12rem;
  color: #fff;
  font-weight: bold;
  margin: 0.15rem 0 0.15rem 0.2rem;
}
body #container .weather_block li .img_common {
  width: 0.61rem;
  height: 0.4rem;
  background-size: 100% 100%;
  position: absolute;
  right: 0.19rem;
}
body #container .weather_block li .img_01 {
  background-image: url('images/001.png');
}
body #container .weather_block li .img_02 {
  background-image: url('images/002.png');
}
body #container .weather_block li .img_03 {
  background-image: url('images/003.png');
}
body #container .weather_block li .img_04 {
  background-image: url('images/004.png');
}
body #container .weather_block li .img_05 {
  background-image: url('images/005.png');
}
body #container .weather_block li .img_06 {
  background-image: url('images/006.png');
}
body #container .weather_block .mid {
  margin: 0 1%;
}
body #shop {
  display: none;
}
body #shop .toolbar {
  width: 100%;
  height: 0.85rem;
  background-color: #76d0de;
}
body #shop .toolbar a {
  font-size: 0.16rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  width: 50%;
  float: left;
  line-height: 0.85rem;
}
body #shop .goods_list {
  /* color */
}
body #shop .goods_list li {
  width: 50%;
  height: 1.875rem;
  float: left;
}
body #shop .goods_list li header {
  color: #fff;
  font-size: 0.14rem;
  line-height: 2;
  margin-left: 0.2rem;
}
body #shop .goods_list .list_01 {
  background: url('images/shop/011.png') center center no-repeat;
  background-size: 30% 60%;
}
body #shop .goods_list .list_02 {
  background: url('images/shop/012.png') center center no-repeat;
  background-size: 60%;
}
body #shop .goods_list .list_03 {
  background: url('images/shop/013.png') center center no-repeat;
  background-size: 60%;
}
body #shop .goods_list .list_04 {
  background: url('images/shop/014.png') center center no-repeat;
  background-size: 60%;
}
body #shop .goods_list .list_05 {
  background: url('images/shop/015.png') center center no-repeat;
  background-size: 60%;
}
body #shop .goods_list .list_06 {
  background: url('images/shop/016.png') center center no-repeat;
  background-size: 60%;
}
body #shop .goods_list .bg_01 {
  background-color: #adecf7;
}
body #shop .goods_list .bg_02 {
  background-color: #92deeb;
}
body #shop .goods_list .bg_03 {
  background-color: #ccc;
}
body #shop .goods_list .bg_04 {
  background-color: #ffd479;
}
body .fl_r {
  float: right;
}
body .fl_l {
  float: left;
}
