#shop .toolbar {
  width: 100%;
  height: 0.85rem;
  background-color: #76d0de;
}
#shop .toolbar a {
  font-size: 0.16rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  width: 50%;
  float: left;
  line-height: 0.85rem;
}
#shop .goods_list {
  /* color */
}
#shop .goods_list li {
  width: 50%;
  height: 1.875rem;
  float: left;
}
#shop .goods_list li header {
  color: #fff;
  font-size: 0.14rem;
  line-height: 2;
  margin-left: 0.2rem;
}
#shop .goods_list .list_01 {
  background: url('images/011.png') center center no-repeat;
  background-size: 30% 60%;
}
#shop .goods_list .list_02 {
  background: url('images/012.png') center center no-repeat;
  background-size: 60%;
}
#shop .goods_list .list_03 {
  background: url('images/013.png') center center no-repeat;
  background-size: 60%;
}
#shop .goods_list .list_04 {
  background: url('images/014.png') center center no-repeat;
  background-size: 60%;
}
#shop .goods_list .list_05 {
  background: url('images/015.png') center center no-repeat;
  background-size: 60%;
}
#shop .goods_list .list_06 {
  background: url('images/016.png') center center no-repeat;
  background-size: 60%;
}
#shop .goods_list .bg_01 {
  background-color: #adecf7;
}
#shop .goods_list .bg_02 {
  background-color: #92deeb;
}
#shop .goods_list .bg_03 {
  background-color: #ccc;
}
#shop .goods_list .bg_04 {
  background-color: #ffd479;
}
